<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-pzjw8f+ua3ZYq2Qz8+7zov5W8xiEn/6SD7xSv9wG2P0xaiu5qgP4L+ci2xq2mybw9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Header -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">The Tech Blog</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
              <!-- If user is logged in, display the "Logout" link -->
              {{#if loggedIn}}
                <li class="nav-item">
                  <a class="nav-link" href="#" id="logout">Logout</a>
                </li>
              {{/if}}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Main content -->
    {{{body}}}
    <!-- Conditionally load login or logout script -->
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{else}}
      <script src="/js/login.js"></script>
    {{/if}}
  </body>
</html>
