<div class="blog-posts">
  {{#each BlogPosts as |blog| }}
    <div class="blog-card card mb-3 w-100">
      {{> blog-details}}
    </div>
  {{/each}}
</div>
<script src='Public/Js/createComment.js'></script>
